@font-face {
  font-family: 'Saiyan Sans';
  src: url("../assets/fonts/saiyan-sans/SaiyanSans.ttf") format('truetype');
}

.jumbotron {
  box-sizing: border-box;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
}

.main-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.timer-p {
  margin-top: 1em;
}

.answer:hover {
  background: pink;
  cursor: pointer;
}

.answer {
  /* padding-top: 7px; */
  height: 2.5em;
  color: black;
  padding-left: 1em;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.img-wrong {
  margin-top: 1em;
}

.first-answer {
  margin-top: 2em;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}

body {
  background-color: #fe7f0c;

  background-image: url("stage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fe7f0c;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 4em;
  font-family: 'Saiyan Sans', Fallback, sans-serif;
  text-shadow:
		-1px -1px 0 #0767d3,
		1px -1px 0 #0767d3,
		-1px 1px 0 #0767d3,
		1px 1px 0 #0767d3;    
}

.dbz {
  font-size: 2em;
  font-weight: 700;
  text-shadow:
		-1px -1px 0 #1f2d95,
		1px -1px 0 #1f2d95,
		-1px 1px 0 #1f2d95,
		1px 1px 0 #1f2d95;
}

img {
  max-width: 95vw;
  margin: 1rem;
}

